body.signin-Body {
    background-color: #e6f2ff;
}

.container.signin-container {
    margin-top: 8%;
}

.card.signin-card {
    padding: 40px 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

img.signin-img {
    padding: 0 2rem 2rem;
    margin:auto;
    display: block; /* We want this so the elements will stack on each other properly */
    width: 70%; 
    /* If you want your image to be clearer, you can resize it in photoshop.*/
/*    Inspect the image in browser. Resize the image. Then it will be clearer*/
/*    After doing this, you can now delete the 
    width: 70%;  since you no longer need it. The image is clear.*/
/*    This way, the image won't change sizes no matter what screen size*/
}

form.sign-inForm {
    max-width:350px;
    margin: auto;
}

button.signin-btn {
    color: #ffffff;
    background-color: #d64829;
    width: 100%; /*takes up 100% of the width */
    border-color: #007bff;
    margin-bottom: 1.2rem; /* To push away the sign in button */
}

a.create-new-account {
    font-size: 1.2rem;
    display: block; /* So you can center the text */
    text-align: center;
    margin-top: 15px;
}


